/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* Общий шрифт для всего документа */
}

/* Анимация фона */
.animated-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(127, 255, 229), #ffffff, rgb(17, 52, 82));
    background-size: 300% 100%;
    animation: gradientAnimation 10s ease infinite;
    position: relative;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

/* Анимация изменения цвета треугольников */
.mirrored-triangle, .mirrored-triangle-top {
    width: 0;
    height: 0;
    border-right: 50vw solid transparent;
    position: fixed;
    animation: colorChange 10s linear infinite;
}

.mirrored-triangle { bottom: 0; left: 0; }
.mirrored-triangle-top { top: 0; left: 0; }

@keyframes colorChange {
    0%, 25% { border-bottom: 100vh solid #48637e; border-top: 100vh solid #48637e; }
    50%, 75%, 100% { border-bottom: 100vh solid #113452; border-top: 100vh solid #113452; }
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    background-color: rgba(17, 52, 82, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow-y: auto;
}


/* Анимация появления контента */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Стили для изображений профиля */
.content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Стили для заголовков */
.content h2, .content p {
    margin: 0;
    padding-right: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
}

/* Стили для изображений внутри социальных значков */
.social-icons a img {
    margin: 10px; /* Объединение всех отступов в один */
}

/* Анимация для социальных значков */
.social-icons a:hover img {
    filter: invert(32%) sepia(100%) saturate(3459%) hue-rotate(5deg) brightness(96%) contrast(92%);
}

/* Стили для кнопок */
button {
    font-size: inherit;
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 2s;
}

button:hover {
    background-color: #ff6347;
}

.button-with-icon {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
}

.button-with-icon img {
    margin-right: 5px;
}

/* Анимация для кнопок */
@keyframes fadeInButton {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}


.logo {
    position: absolute;
    top: 40px;
    right: 280px;
    z-index: 1000;
    /* Устанавливаем начальные координаты и включаем анимацию */
    animation: spin 20s linear infinite;
    /* Центрируем манекен по горизонтали */
    transform-origin: center center;
}

/* Определение анимации */
@keyframes spin {
    0% {
        transform: rotateY(0deg); /* Начальный угол вращения */
    }
    100% {
        transform: rotateY(360deg); /* Угол вращения на 360 градусов */
    }
}

/* Стили для полосы прокрутки */
.content::-webkit-scrollbar {
    width: 12px;
}

/* Стили для блока, который представляет ползунок */
.content::-webkit-scrollbar-thumb {
    background-color: rgb(72, 99, 126);
    border-radius: 6px;
}

/* Стили для трека, который представляет область вокруг ползунка */
.content::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Стили для ползунка при наведении */
.content::-webkit-scrollbar-thumb:hover {
    background-color: rgb(17, 52, 82);
}


