#jobTitles {
    text-align: center; /* Центрируем текст */
}

#jobTitles .jobTitle {
    position: relative;
    font-size: 24px;
    color: #ff6347;
    transition: opacity 0.5s ease; /* Плавное изменение непрозрачности */
}

#jobTitles .jobTitle.active {
    opacity: 1;
}

.thumbnail {
    width: 200px;
    height: 50px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.smiley {
    font-size: 30px;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    animation: rollSmiley 5s linear infinite alternate;
}

@keyframes rollSmiley {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(145px);
    }
}

/* Стили для контейнера контента */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-details button {
    margin-right: 20px; /* Измените значение по вашему усмотрению */
}
