.portfolio-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.portfolio-heading .second-word {
    color: #ff6347; /* Желтый цвет */
}

.portfolio-heading p {
    color: #ffcc00; /* Оранжевый цвет */
}

.product-card {
    display: inline-block;
    border: 1px solid #ffcc00;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    box-sizing: border-box;
}

.product-card img {
    margin-right: 10px;
}

.product-card h2 {
    margin-bottom: 10px;
}

.product-card .product-video,
.product-card .product-audio {
    margin-top: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 5px;
}